<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Scarlet Phone Shortcuts" Language="1033" Version="1.0.6.0" Manufacturer="Snailtech" UpgradeCode="9f3a2b7d-1c4e-4f6b-8a3d-5e9b1c2d3f4a">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high"/>

    <!-- Icon -->
    <Icon Id="ScarletPhoneIcon" SourceFile="assets\logo.ico" />

    <!-- Upgrade info for updates -->
    <Upgrade Id="9f3a2b7d-1c4e-4f6b-8a3d-5e9b1c2d3f4a">
      <UpgradeVersion Minimum="0.0.0" Maximum="99.0.0" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDPRODUCTS"/>
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize"/>
    </InstallExecuteSequence>

    <!-- NOTE: The standard Wix UI dialogs (for example, "WixUI_Minimal") are provided by the WixUIExtension.
         To enable the UI and avoid unresolved symbol errors, add the WixUIExtension to your .wixproj like this:

           <ItemGroup>
             <WixExtension Include="WixUIExtension" />
           </ItemGroup>

         If you don't want to reference the extension, remove the UIRef (as done here) and the installer will be built without the standard dialogs. -->

    <!-- Removed <UIRef Id="WixUI_Minimal"/> to avoid unresolved WixUI extension reference when the project doesn't include WixUIExtension -->

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Start Menu (Programs) folder for shortcut -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Scarlet Phone Shortcuts">
          <!-- Start Menu shortcut component (per-user keypath) -->
          <Component Id="StartMenuShortcutComponent" Guid="1e2f3a4b-5c6d-7e8f-9012-3456789abcde">
            <CreateFolder />
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="Scarlet Phone Shortcuts"
                      Description="Scarlet Phone Shortcuts"
                      Target="[INSTALLFOLDER]Scarlet Phone Shortcuts.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="ScarletPhoneIcon" />
            <RemoveFile Id="RemoveShortCutFile" Name="Scarlet Phone Shortcuts.lnk" On="uninstall" Directory="ProgramMenuDir"/>
            <RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Snail" Name="StartMenuShortcut" Type="string" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <!-- Main EXE in Program Files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Scarlet Phone Shortcuts">

          <Component Id="ScarletPhoneShortcutsExeComponent" Guid="c4b2a1d8-7f6e-4a3b-9c8d-1e2f3a4b5c6d">
            <File Id="ScarletPhoneShortcutsExe" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Scarlet Phone Shortcuts.exe" KeyPath="yes" Vital="yes"/>
          </Component>

          <Component Id="ScarletPhoneShortcutsDllComponent" Guid="d6a7b8c9-1f2e-4d3c-9b8a-0c1d2e3f4a5b">
            <File Id="ScarletPhoneShortcutsDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Scarlet Phone Shortcuts.dll" KeyPath="yes" Vital="yes"/>
          </Component>

          <Component Id="DepsJsonComponent" Guid="e7b8c9d0-2a3b-4c5d-8e9f-1a2b3c4d5e6f">
            <File Id="DepsJson" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Scarlet Phone Shortcuts.deps.json" KeyPath="yes" Vital="yes"/>
          </Component>

          <Component Id="RuntimeConfigJsonComponent" Guid="f8c9d0e1-3b4c-4d6e-9a0b-2c3d4e5f6a7b">
            <File Id="RuntimeConfigJson" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Scarlet Phone Shortcuts.runtimeconfig.json" KeyPath="yes" Vital="yes"/>
          </Component>

        </Directory>
      </Directory>

      <!-- Resources folder in per-user AppData -->
      <Directory Id="AppDataFolder">
        <Directory Id="AppDataPhoneUtilsFolder" Name="Snail">
          <Directory Id="AppDataResourcesFolder" Name="Resources">

            <!-- Resource files with HKCU key path -->
            <Component Id="AdbExeComponent" Guid="a9d0e1f2-4c5d-4e7f-0b1c-3d4e5f6a7b8c">
              <File Id="AdbExe" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\adb.exe"/>
              <RemoveFile Id="Remove_AdbExe" Name="adb.exe" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="AdbExe" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="AdbWinApiDllComponent" Guid="b0e1f2a3-5d6e-4f80-1c2d-4e5f6a7b8c9d">
              <File Id="AdbWinApiDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\AdbWinApi.dll"/>
              <RemoveFile Id="Remove_AdbWinApiDll" Name="AdbWinApi.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="AdbWinApiDll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="AdbWinUsbApiDllComponent" Guid="c1f2a3b4-6e7f-4091-2d3e-5f6a7b8c9d0e">
              <File Id="AdbWinUsbApiDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\AdbWinUsbApi.dll"/>
              <RemoveFile Id="Remove_AdbWinUsbApiDll" Name="AdbWinUsbApi.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="AdbWinUsbApiDll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="AvcodecDllComponent" Guid="d2a3b4c5-7f80-41a2-3e4f-6a7b8c9d0e1f">
              <File Id="AvcodecDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\avcodec-61.dll"/>
              <RemoveFile Id="Remove_AvcodecDll" Name="avcodec-61.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="AvcodecDll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="AvformatDllComponent" Guid="e3b4c5d6-8091-42b3-4f50-7b8c9d0e1f2a">
              <File Id="AvformatDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\avformat-61.dll"/>
              <RemoveFile Id="Remove_AvformatDll" Name="avformat-61.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="AvformatDll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="AvutilDllComponent" Guid="f4c5d6e7-91a2-43c4-5061-8c9d0e1f2a3b">
              <File Id="AvutilDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\avutil-59.dll"/>
              <RemoveFile Id="Remove_AvutilDll" Name="avutil-59.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="AvutilDll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="LibusbDllComponent" Guid="a5d6e7f8-0a1b-44d5-6172-9d0e1f2a3b4c">
              <File Id="LibusbDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\libusb-1.0.dll"/>
              <RemoveFile Id="Remove_LibusbDll" Name="libusb-1.0.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="LibusbDll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="ScrcpyExeComponent" Guid="b6e7f8a9-1b2c-45e6-7283-ae1f2a3b4c5d">
              <File Id="ScrcpyExe" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\scrcpy.exe"/>
              <RemoveFile Id="Remove_ScrcpyExe" Name="scrcpy.exe" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="ScrcpyExe" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="ScrcpyServerComponent" Guid="c7f8a9b0-2c3d-46f7-8394-bf2a3b4c5d6e">
              <File Id="ScrcpyServer" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\scrcpy-server"/>
              <RemoveFile Id="Remove_ScrcpyServer" Name="scrcpy-server" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="ScrcpyServer" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="SDL2DllComponent" Guid="d8a9b0c1-3d4e-4708-94a5-c03b4c5d6e7f">
              <File Id="SDL2Dll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\SDL2.dll"/>
              <RemoveFile Id="Remove_SDL2Dll" Name="SDL2.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="SDL2Dll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="SwresampleDllComponent" Guid="e9b0c1d2-4e5f-4819-a5b6-d14c5d6e7f80">
              <File Id="SwresampleDll" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\swresample-5.dll"/>
              <RemoveFile Id="Remove_SwresampleDll" Name="swresample-5.dll" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="SwresampleDll" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <Component Id="logo" Guid="f0c1d2e3-5f60-492a-b6c7-e25d6e7f8091">
              <File Id="logo" Source="..\windows_phone_app_shortcut\bin\Release\net8.0-windows\Resources\logo.png"/>
              <RemoveFile Id="Remove_logo" Name="logo.png" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Snail\Resources" Name="logo" Type="string" Value="1" KeyPath="yes"/>
            </Component>

            <!-- Folder component to avoid removing other apps' files on uninstall -->
            <Component Id="AppDataFolderComponent" Guid="a1d2e3f4-6071-4a3b-c7d8-f36e7f8091a2">
              <CreateFolder />
              <!-- Remove the empty folders on uninstall, but only if they are empty. This avoids deleting files owned by other applications. -->
              <RemoveFolder Id="RemoveResourcesFolder" Directory="AppDataResourcesFolder" On="uninstall"/>
              <RemoveFolder Id="RemoveAppDataPhoneUtilsFolder" Directory="AppDataPhoneUtilsFolder" On="uninstall"/>
              <!-- Removed wildcard RemoveFile/RemoveFolder so uninstall only removes files/components owned by this installer. -->
              <RegistryValue Root="HKCU" Key="Software\Snail" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>

          </Directory>
        </Directory>
      </Directory>

    </Directory>

    <!-- Feature -->
    <Feature Id="Complete" Title="Scarlet Phone Shortcuts" Level="1">
      <ComponentRef Id="ScarletPhoneShortcutsExeComponent"/>
      <ComponentRef Id="ScarletPhoneShortcutsDllComponent"/>
      <ComponentRef Id="DepsJsonComponent"/>
      <ComponentRef Id="RuntimeConfigJsonComponent"/>

      <ComponentRef Id="StartMenuShortcutComponent"/>
      <ComponentRef Id="AdbExeComponent"/>
      <ComponentRef Id="AdbWinApiDllComponent"/>
      <ComponentRef Id="AdbWinUsbApiDllComponent"/>
      <ComponentRef Id="AvcodecDllComponent"/>
      <ComponentRef Id="AvformatDllComponent"/>
      <ComponentRef Id="AvutilDllComponent"/>
      <ComponentRef Id="LibusbDllComponent"/>
      <ComponentRef Id="ScrcpyExeComponent"/>
      <ComponentRef Id="ScrcpyServerComponent"/>
      <ComponentRef Id="SDL2DllComponent"/>
      <ComponentRef Id="SwresampleDllComponent"/>
      <ComponentRef Id="logo"/>
      <ComponentRef Id="AppDataFolderComponent"/>

    </Feature>

  </Product>
</Wix>